@import url('typography.css');
@import url('navigation.css');

@import url('site-header.css');
@import url('site-footer.css');

:root {
  --color-main-bgrd: green;
  --color-main-text: #fff;
  --color-main-link: orange;
  --color-basic-border: #ccc;
}

body {
  background: var(--color-main-bgrd);
  padding: 2rem;
  margin: 3rem;
}

.site-main {
  padding: 1rem;
}
