.main-nav {
  background: black;
  margin-right: auto;
}
.main-nav ul {
  padding: 0;
  margin: 0;
}

.main-nav > ul {
  display: flex;
  padding: 0 0.5em;
}

.main-nav ul li {
  display: block;
  list-style: none;
  position: relative;
 
}

.main-nav a {
  display: block;
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: var(--color-main-link);
  font-size: var(--sizing-fontsize-base);
  transition: background 0.3s ease-in;
  border-radius: 0.3em;
  outline: none;
}
.main-nav a:focus,
.main-nav a:hover {
  background: #900;
}
.main-nav a:focus {
  text-decoration: underline;
}
.main-nav li:hover > ul {
  display: block;
} 
/* Level 2 nav */
.main-nav > ul ul  {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-2rem);
  transition: oppacity 0.2s ease-in;
  transition: transform 0.2s ease-out;
  padding-top: 0.5em;
}

.main-nav li:hover > ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
