
.site-header {
    font-size: 1.3rem;
}
.site-header .inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.site-header a {
   
    text-decoration: none;
}

/* HomePage Header Banner */

.site-header.banner {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.site-header.banner::after {
    display: block;
    content: "";
    
}
.site-header.banner.size-large::after {
    display: block;
    content: "";
    /* padding-top: 56.25%;    Aspect Ratio: 9/16 */
    /* https://css-tricks.com/aspect-ratio-boxes/ */
    padding-top: calc((9 / 16) * 100%);
}
.site-header.banner.size-small::after {
    display: block;
    content: "";
    /* padding-top: 56.25%;    Aspect Ratio: 9/16 */
    /* https://css-tricks.com/aspect-ratio-boxes/ */
    padding-top: calc((9 / 32) * 100%);
}

.site-header .site title {
    margin-right: 2rem;
    margin-bottom: 0;
}

