.site-footer {
    border-top: solid 1px var(--color-basic-border);
    padding-top: var(--sizing-whitespace-base);
    font-size: 0.8em;
    margin-top: 5px;
    padding-top: 5px;
}
.site-footer p {
font-style: italic;
opacity: 0.6;

}